node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test.example

# Playwright
/test-results/
/playwright-report/
/blob-report/
/e2e/__snapshots__/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
